@model IEnumerable<EcommerceWeb.Models.HoaDon>
@using System.Globalization;
@{
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
}
<style>
    a {
        color: black;
    }

        a:hover {
            color: lightgray;
            text-decoration: none
        }

    #proItem {
        border: solid 1px;
        margin-left: 5px;
        padding: 20px;
    }

    .btnDelete {
        margin: 5px 0 0 0;
        background-color: black;
        color: white;
        text-align: center;
        padding: 5px;
    }

    .btn-delete {
        color: white;
    }

    table, th, tr, td {
        border: none !important;
    }

    .btn-edit {
        color: white;
    }

    .btnEdit {
        margin: 15px 0 0 0;
        background-color: black;
        color: white;
        text-align: center;
        padding: 5px;
    }

    .btnUpdate {
        margin: 15px 0 0 0;
        color: black;
        text-align: center;
        padding: 5px;
    }

    .extra-info:hover {
        color: black;
    }

    #custom {
        text-align: left
    }

    .form-select {
        height: 30px;
        border-radius: 0px;
        border: solid 1.5px;
        margin-top: 10px;
        margin-left: 10px
    }
</style>

@{
    var db = new EcommerceWeb.DAL.EcommerceContext();
}
<div class="container" style="font-size: 10px; margin-bottom: 50px; margin-top: 50px;">
    <a href="/Admin/Index" title="Dashboard" class="btn-create" style="float: right; margin-right: 10px"><i class="fa fa-arrow-left fa-2x" style="color: black"></i></a>

    @if (Model.Count() <= 0)
    {
        <div style="display: flex; justify-content: center">
            <img src="~/image/empty-cart.png" style="width: 20%" />
        </div>
        <h2 class="text-center" style="margin: 50px;">EMPTY ORDER</h2>
    }
    else
    {
        <h2 class="text-center" style="margin-top:80px;">ORDERS MANAGEMENT</h2>
    }
    @foreach (var item in Model)
    {
        var status = "";
        switch (item.TrangThai)
        {
            case 0: status = "Ordered"; break;
            case 1: status = "Processing"; break;
            case 2: status = "Delivery"; break;
            case 3: status = "Success"; break;
            case 4: status = "Cancel Request"; break;
            case 5: status = "Cancelled"; break;
            default: status = "Failed Cancel"; break;

        }
        <div class="row" style="margin-top: 50px; font-size: 14px">
            <div class="col-md-2"></div>
            <div id="proItem" class="col-md-8" style="margin-bottom: 30px">
                <table class="table">
                    <tr>
                        <th scope="row">Date</th>
                        <td>@item.Ngay</td>
                    </tr>
                    <tr>
                        <th scope="row">Customer</th>
                        <td>@db.KhachHangs.FirstOrDefault(x => x.KhachHangID == item.KhachHangID).TenKH</td>
                    </tr>
                    <tr>
                        <th scope="row">Total Price</th>
                        <td style="font-weight: bold">$ @item.TongTien.ToString("#,###", @cul.NumberFormat)</td>
                    </tr>
                    <tr>
                        <th scope="row">Status</th>
                        <td style="font-weight: bold">@status.ToUpper()</td>
                    </tr>
                </table>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-title">
                        <div class="panel-heading" style="padding: 8px">
                            <h4 class="panel-title">
                                <a class="extra-info" data-toggle="collapse" data-parent="#accordion" href="#@item.HoaDonID" style="font-size: 14px; font-weight:bold; text-decoration: none">Detail</a>
                            </h4>
                        </div>
                        <div id="@item.HoaDonID" class="panel-collapse collapse">
                            <div class="panel-body" style="text-align: center">
                                @foreach (var b in db.ChiTietHoaDons.Where(x => x.HoaDonID == item.HoaDonID).ToList())
                                {
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img src="@Url.Content(db.MatHangs.FirstOrDefault(x => x.MatHangID == b.MatHangID).HinhAnh.ToString())" alt="ảnh lỗi rồi" style="width:100px; float: left" />
                                        </div>
                                        <div class="col-md-8">
                                            <table class="table" style="font-size: 14px;">
                                                <tr id="custom">
                                                    <td style="font-weight: bold">@db.MatHangs.FirstOrDefault(x => x.MatHangID == b.MatHangID).TenMH</td>
                                                </tr>
                                                <tr id="custom">
                                                    <td>Quantity: @b.SoLuong</td>
                                                </tr>
                                                <tr id="custom">
                                                    <td>@db.MatHangs.FirstOrDefault(x => x.MatHangID == b.MatHangID).DonGia</td>
                                                </tr>
                                                <tr id="custom">
                                                    <td style="font-weight: bold">$ @b.ThanhTien.ToString("#,###", @cul.NumberFormat)</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <hr />
                                }
                            </div>
                        </div>
                    </div>
                </div>
                @if (status == "Ordered")
                {
                    <div class="btnEdit">
                        <a href="/HoaDon/UpdateOrder?id=@item.HoaDonID" style="text-decoration: none; color: white;">PROCESS</a>
                    </div>
                }
                else if (status == "Processing")
                {
                    <div class="btnEdit">
                        <a href="/HoaDon/UpdateOrder?id=@item.HoaDonID" style="text-decoration: none; color: white;">DELIVERY</a>
                    </div>
                }
                else if (status == "Delivery")
                {
                    <div class="btnEdit">
                        <a href="/HoaDon/UpdateOrder?id=@item.HoaDonID" style="text-decoration: none; color: white;">SUCCESS</a>
                    </div>
                }
                else if (status == "Success")
                {
                    <div class="btnEdit">
                        <a style="text-decoration: none; color: white;">SUCCESS DELIVERY</a>
                    </div>
                }
                else if (status == "Cancelled")
                {
                    <div class="btnEdit">
                        <a style="text-decoration: none; color: white;">SUCCESS CANCELLED</a>
                    </div>
                }
                else
                {
                    <div class="btnEdit">
                        <a href="/HoaDon/UpdateOrder?id=@item.HoaDonID" style="text-decoration: none; color: white;">ACCEPT CANCEL REQUEST</a>
                    </div>
                }
                <div class="btnEdit">
                    <a href="/HoaDon/Delete?id=@item.HoaDonID" style="text-decoration: none; color: white;">REMOVE</a>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    }

</div>
