@model IEnumerable<EcommerceWeb.Models.MatHang>
@using System.Globalization;
@{
    ViewBag.Title = "Man";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
}
<style>
    div.gallery img {
        width: 150px;
        height: 150px;
        margin: 30px;
        display: inline-block;
    }
    .zoomPic:hover {
        transform: scale(1.5);
        transition: transform .2s;
    }
    div.gallery {
        margin: 30px;
        /*border: 2px solid #ccc;*/
        width: auto;
        height: auto;
        display: inline-block;
        background-color: #E7E7E7;
    }

    #buttonCart {
            color: black;
            border-radius: 0px;
            background: transparent;
            border: solid 2px;
            font-weight: bold;
        }

        .TwoButton {
            transition: .4s ease;
            opacity: 0;
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }

        .col-md-3:hover .TwoButton {
            opacity: 1;
        }
</style>


<div style="text-align:center; margin-top: 60px">
    <div class="row">
        <div class="col-md-9">
            <img src="@Url.Content("~/image/man-cover.jpg")" style="width: 70%" alt="Man Cover" />
        </div>
        <div class="col-md-3" style="margin-top: 15%; ">
            <h1>for</h1><br />
            <h1 style="font-weight: bold">MAN</h1>
        </div>
    </div>
    <div class="row" id="ManTS" style="margin-top: 50px">
        <h1 style="text-align:center">SHIRTS</h1>
        @foreach (var item in Model.Where(x => x.LoaiID == 1))
        {
            <div class="col-md-3">
                <div class="gallery">
                    <a href="@Url.Action("Details","MatHang", new { id= item.MatHangID})">
                        <img class="zoomPic" src="@Url.Content(item.HinhAnh)" alt="ảnh lỗi rồi">
                    </a>
                </div>
                <div class="TwoButton">
                        <a href="/ShoppingCart/AddtoCart/@item.MatHangID" id="buttonCart" class="btn btn-primary btn-sm active" type="button" aria-pressed="true">Add To Cart</a>
                </div>
                <p style="font-weight: bold">@item.TenMH</p>
                <p>$ @item.DonGia.ToString("#,###", @cul.NumberFormat)</p>
            </div>
        }
    </div>

    <div id="ManS" class="row" style="margin-top: 50px">
        <h1 style="text-align:center">T-SHIRTS & POLO SHIRTS</h1>
        @foreach (var item in Model.Where(x => x.LoaiID == 2))
        {
    <div class="col-md-3">
        <div class="gallery">
            <a href="@Url.Action("Details","MatHang", new { id= item.MatHangID})">
                <img class="zoomPic" src="@Url.Content(item.HinhAnh)" alt="ảnh lỗi rồi">
            </a>
        </div>
        <div class="TwoButton">
            <a href="/ShoppingCart/AddtoCart/@item.MatHangID" id="buttonCart" class="btn btn-primary btn-sm active" type="button" aria-pressed="true">Add To Cart</a>
        </div>
        <p style="font-weight: bold">@item.TenMH</p>
        <p>$ @item.DonGia.ToString("#,###", @cul.NumberFormat)</p>
    </div>
        }
    </div>

    <div id="ManPS" class="row" style="margin-top: 50px">
        <h1 style="text-align:center">PANTS & SHORTS</h1>
        @foreach (var item in Model.Where(x => x.LoaiID == 3))
        {
    <div class="col-md-3">
        <div class="gallery">
            <a href="@Url.Action("Details","MatHang", new { id= item.MatHangID})">
                <img class="zoomPic" src="@Url.Content(item.HinhAnh)" alt="ảnh lỗi rồi">
            </a>
        </div>
        <div class="TwoButton">
            <a href="/ShoppingCart/AddtoCart/@item.MatHangID" id="buttonCart" class="btn btn-primary btn-sm active" type="button" aria-pressed="true">Add To Cart</a>
        </div>
        <p style="font-weight: bold">@item.TenMH</p>
        <p>$ @item.DonGia.ToString("#,###", @cul.NumberFormat)</p>
    </div>
        }
    </div>

</div>
