@model IEnumerable<EcommerceWeb.Models.MatHang>
@using System.Globalization;
@{ 
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
}
<head>
    <link rel="stylesheet" href="~/Content/Site.css">
    <style>
        div.gallery img {
            width: 150px;
            height: 150px;
            margin: 30px;
            display: inline-block;
        }

        .zoomPic:hover {
            transform: scale(1.5);
            transition: transform .2s;
        }

        div.gallery {
            margin: 30px;
            /*border: 2px solid #ccc;*/
            width: auto;
            height: auto;
            display: inline-block;
            background-color: #E7E7E7;
        }

        #btnCover {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            background-color: transparent;
            color: white;
            font-size: 16px;
            padding: 12px 24px;
            border: none;
            cursor: pointer;
            border-radius: 0px;
            text-align: center;
            border: solid 2px;
            width: 20%;
            bottom: 10%;
            z-index: 2;
        }

        .stories {
            width: 50%;
        }

        #stories {
            margin-top: 50px;
        }

        .title-stories {
            margin-top: 30px;
            font-size: medium;
        }

        .stories-link {
            color: lightgrey;
        }

            .stories-link:hover {
                text-decoration: none;
                color: black
            }
    </style>
</head>

<header>
    <div class="w3-content w3-section" @*style="max-width: 500%; max-height: 100%"*@>
        <img class="mySlides" src="@Url.Content("~/image/cover3.jpg")" style="width:100%; height: 800px; margin:0">
        <img class="mySlides" src="@Url.Content("~/image/cover2.jpg")" style="width:100%; height: 800px; margin:0">
        <img class="mySlides" src="@Url.Content("~/image/cover1.jpg")" style="width:100%; height: 800px; margin:0">
        <a id="btnCover" href="/Home/Man" class="btn btn-primary btn-lg active" type="button" aria-pressed="true">SHOP NOW</a>
    </div>
    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 5000); // Change image every 5 seconds
        }
    </script>
</header>
<div class="content">
    <h2 id="newArrivals" style="font-family: inherit; color: #5f5b57; margin: 100px 0px 50px 0px">
        NEW ARRIVALS
    </h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="gallery">
                    <a href="@Url.Action("Details","MatHang", new { id= @Model.First(x => x.MatHangID == 11).MatHangID})">
                        <img class="zoomPic" src="@Url.Content(@Model.First(x => x.MatHangID == 11).HinhAnh)" alt="ảnh lỗi rồi">
                    </a>
                </div>
                <p style="font-weight: bold">@Model.First(x => x.MatHangID == 11).TenMH</p>
                <p>$ @Model.First(x => x.MatHangID == 11).DonGia.ToString("#,###", @cul.NumberFormat)</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <a href="@Url.Action("Details","MatHang", new { id= @Model.First(x => x.MatHangID == 2).MatHangID})">
                        <img class="zoomPic" src="@Url.Content(@Model.First(x => x.MatHangID == 2).HinhAnh)" alt="ảnh lỗi rồi">
                    </a>
                </div>
                <p style="font-weight: bold">@Model.First(x => x.MatHangID == 2).TenMH</p>
                <p>$ @Model.First(x => x.MatHangID == 2).DonGia.ToString("#,###", @cul.NumberFormat)</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <a href="@Url.Action("Details","MatHang", new { id= @Model.First(x => x.MatHangID == 20).MatHangID})">
                        <img class="zoomPic" src="@Url.Content(@Model.First(x => x.MatHangID == 20).HinhAnh)" alt="ảnh lỗi rồi">
                    </a>
                </div>
                <p style="font-weight: bold">@Model.First(x => x.MatHangID == 38).TenMH</p>
                <p>$ @Model.First(x => x.MatHangID == 38).DonGia.ToString("#,###", @cul.NumberFormat)</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <a href="@Url.Action("Details","MatHang", new { id= @Model.First(x => x.MatHangID == 12).MatHangID})">
                        <img class="zoomPic" src="@Url.Content(@Model.First(x => x.MatHangID == 12).HinhAnh)" alt="ảnh lỗi rồi">
                    </a>
                </div>
                <p style="font-weight: bold">@Model.First(x => x.MatHangID == 12).TenMH</p>
                <p>$ @Model.First(x => x.MatHangID == 12).DonGia.ToString("#,###", @cul.NumberFormat)</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="gallery">
                    <a href="@Url.Action("Details","MatHang", new { id= @Model.First(x => x.MatHangID == 1).MatHangID})">
                        <img class="zoomPic" src="@Url.Content(@Model.First(x => x.MatHangID == 1).HinhAnh)" alt="ảnh lỗi rồi">
                    </a>
                </div>
                <p style="font-weight: bold">@Model.First(x => x.MatHangID == 1).TenMH</p>
                <p>$ @Model.First(x => x.MatHangID == 1).DonGia.ToString("#,###", @cul.NumberFormat)</p>
            </div>


            <div class="col-md-3">
                <div class="gallery">
                    <a href="@Url.Action("Details","MatHang", new { id= @Model.First(x => x.MatHangID == 19).MatHangID})">
                        <img class="zoomPic" src="@Url.Content(@Model.First(x => x.MatHangID == 19).HinhAnh)" alt="ảnh lỗi rồi">
                    </a>
                </div>
                <p style="font-weight: bold">@Model.First(x => x.MatHangID == 19).TenMH</p>
                <p>$ @Model.First(x => x.MatHangID == 19).DonGia.ToString("#,###", @cul.NumberFormat)</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <a href="@Url.Action("Details","MatHang", new { id= @Model.First(x => x.MatHangID == 15).MatHangID})">
                        <img class="zoomPic" src="@Url.Content(@Model.First(x => x.MatHangID == 15).HinhAnh)" alt="ảnh lỗi rồi">
                    </a>
                </div>
                <p style="font-weight: bold">@Model.First(x => x.MatHangID == 15).TenMH</p>
                <p>$ @Model.First(x => x.MatHangID == 15).DonGia.ToString("#,###", @cul.NumberFormat)</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <a href="@Url.Action("Details","MatHang", new { id= @Model.First(x => x.MatHangID == 14).MatHangID})">
                        <img class="zoomPic" src="@Url.Content(@Model.First(x => x.MatHangID == 14).HinhAnh)" alt="ảnh lỗi rồi">
                    </a>
                </div>
                <p style="font-weight: bold">@Model.First(x => x.MatHangID == 14).TenMH</p>
                <p>$ @Model.First(x => x.MatHangID == 14).DonGia.ToString("#,###", @cul.NumberFormat)</p>
            </div>
        </div>
    </div>

    <h2 id="stories" style="font-family: inherit; color: #5f5b57; margin: 100px 0px 50px 0px">
        STORIES
    </h2>
    <div class="container-fluid">
        <div id="stories" class="row">
            <div class="col-md-6">
                <div>
                    <img class="stories" src="~/image/stories1.jpg" alt="ảnh lỗi rồi">
                </div>
                <p class="title-stories">Guests Attending Exquisite Gucci</p>
                <a href="https://www.gucci.com/us/en/st/stories/runway/article/exquisite-fashion-show-guests-gallery" class="stories-link">A PHOTO GALLERY </a>
            </div>

            <div class="col-md-6">
                <div>
                    <img class="stories" src="~/image/stories4.jpg" alt="ảnh lỗi rồi">
                </div>
                <p class="title-stories">Exquisite Beauty</p>
                <a href="https://www.gucci.com/us/en/st/stories/article-category-beauty/article/exquisite-fashion-show-beauty-details" class="stories-link">THE MAKEUP AT THE SHOW</a>
            </div>
        </div>

        <div id="stories" class="row">

            <div class="col-md-6">
                <div>
                    <img class="stories" src="~/image/stories3.jpg" alt="ảnh lỗi rồi">
                </div>
                <p class="title-stories">Fashioning Masculinities</p>
                <a href="https://www.gucci.com/us/en/st/capsule/va-fashioning-masculinities" class="stories-link">THE ART OF MENSWEAR</a>
            </div>

            <div class="col-md-6">
                <div>
                    <img class="stories" src="~/image/stories2.jpg" alt="ảnh lỗi rồi">
                </div>
                <p class="title-stories">Magical Mirrors</p>
                <a href="https://www.gucci.com/us/en/st/stories/runway/article/exquisite-fashion-show-looks-gallery" class="stories-link">THE LOOKS</a>
            </div>
        </div>
    </div>


</div>