@model IEnumerable<EcommerceWeb.Models.MatHang>
<head>
    <link rel="stylesheet" href="~/Content/Site.css">
    <style>
        div.gallery img {
            width: 150px;
            height: 150px;
            margin: 30px;
            display: inline-block;
        }

        .zoomPic:hover {
            transform: scale(1.5);
            transition: transform .2s;
        }

        div.gallery {
            margin: 30px;
            /*border: 2px solid #ccc;*/
            width: auto;
            height: auto;
            display: inline-block;
            background-color: #E7E7E7;
        }

        #btnCover {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            background-color: transparent;
            color: white;
            font-size: 16px;
            padding: 12px 24px;
            border: none;
            cursor: pointer;
            border-radius: 0px;
            text-align: center;
            border: solid 2px;
            width: 20%;
            bottom: 10%;
            z-index: 2;
        }

        .stories {
            width: 50%;
        }

        #stories {
            margin-top: 50px;
        }

        .title-stories {
            margin-top: 30px;
            font-size: medium;
        }

        .stories-link {
            color: lightgrey;
        }

            .stories-link:hover {
                text-decoration: none;
                color: black
            }
    </style>
</head>

<header>
    <div class="w3-content w3-section" @*style="max-width: 500%; max-height: 100%"*@>
        <img class="mySlides" src="@Url.Content("~/image/cover3.jpg")" style="width:100%; height: 800px; margin:0">
        <img class="mySlides" src="@Url.Content("~/image/cover2.jpg")" style="width:100%; height: 800px; margin:0">
        <img class="mySlides" src="@Url.Content("~/image/cover1.jpg")" style="width:100%; height: 800px; margin:0">
        <a id="btnCover" href="/Home/Man" class="btn btn-primary btn-lg active" type="button" aria-pressed="true">SHOP NOW</a>
    </div>
    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 5000); // Change image every 5 seconds
        }
    </script>
</header>
<div class="content">
    <h2 id="newArrivals" style="font-family: inherit; color: #5f5b57; margin: 100px 0px 50px 0px">
        NEW ARRIVALS
    </h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="gallery">
                    <a href="@Url.Action("Details","MatHang", new { id= @Model.First(x => x.MatHangID == 11).MatHangID})">
                        <img class="zoomPic" src="@Url.Content(@Model.First(x => x.MatHangID == 11).HinhAnh)" alt="ảnh lỗi rồi">
                    </a>
                </div>
                <p>@Model.First(x => x.MatHangID == 11).TenMH</p>
                <p>$ @Model.First(x => x.MatHangID == 11).DonGia</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <a href="@Url.Action("Details","MatHang", new { id= @Model.First(x => x.MatHangID == 2).MatHangID})">
                        <img class="zoomPic" src="@Url.Content(@Model.First(x => x.MatHangID == 2).HinhAnh)" alt="ảnh lỗi rồi">
                    </a>
                </div>
                <p>@Model.First(x => x.MatHangID == 2).TenMH</p>
                <p>$ @Model.First(x => x.MatHangID == 2).DonGia</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <a href="@Url.Action("Details","MatHang", new { id= @Model.First(x => x.MatHangID == 20).MatHangID})">
                        <img class="zoomPic" src="@Url.Content(@Model.First(x => x.MatHangID == 20).HinhAnh)" alt="ảnh lỗi rồi">
                    </a>
                </div>
                <p>@Model.First(x => x.MatHangID == 38).TenMH</p>
                <p>$ @Model.First(x => x.MatHangID == 38).DonGia</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <a href="@Url.Action("Details","MatHang", new { id= @Model.First(x => x.MatHangID == 12).MatHangID})">
                        <img class="zoomPic" src="@Url.Content(@Model.First(x => x.MatHangID == 12).HinhAnh)" alt="ảnh lỗi rồi">
                    </a>
                </div>
                <p>@Model.First(x => x.MatHangID == 12).TenMH</p>
                <p>$ @Model.First(x => x.MatHangID == 12).DonGia</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="gallery">
                    <a href="@Url.Action("Details","MatHang", new { id= @Model.First(x => x.MatHangID == 1).MatHangID})">
                        <img class="zoomPic" src="@Url.Content(@Model.First(x => x.MatHangID == 1).HinhAnh)" alt="ảnh lỗi rồi">
                    </a>
                </div>
                <p>@Model.First(x => x.MatHangID == 1).TenMH</p>
                <p>$ @Model.First(x => x.MatHangID == 1).DonGia</p>
            </div>


            <div class="col-md-3">
                <div class="gallery">
                    <a href="@Url.Action("Details","MatHang", new { id= @Model.First(x => x.MatHangID == 19).MatHangID})">
                        <img class="zoomPic" src="@Url.Content(@Model.First(x => x.MatHangID == 19).HinhAnh)" alt="ảnh lỗi rồi">
                    </a>
                </div>
                <p>@Model.First(x => x.MatHangID == 19).TenMH</p>
                <p>$ @Model.First(x => x.MatHangID == 19).DonGia</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <a href="@Url.Action("Details","MatHang", new { id= @Model.First(x => x.MatHangID == 15).MatHangID})">
                        <img class="zoomPic" src="@Url.Content(@Model.First(x => x.MatHangID == 15).HinhAnh)" alt="ảnh lỗi rồi">
                    </a>
                </div>
                <p>@Model.First(x => x.MatHangID == 15).TenMH</p>
                <p>$ @Model.First(x => x.MatHangID == 15).DonGia</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <a href="@Url.Action("Details","MatHang", new { id= @Model.First(x => x.MatHangID == 14).MatHangID})">
                        <img class="zoomPic" src="@Url.Content(@Model.First(x => x.MatHangID == 14).HinhAnh)" alt="ảnh lỗi rồi">
                    </a>
                </div>
                <p>@Model.First(x => x.MatHangID == 14).TenMH</p>
                <p>$ @Model.First(x => x.MatHangID == 14).DonGia</p>
            </div>
        </div>
    </div>

    <h2 id="stories" style="font-family: inherit; color: #5f5b57; margin: 100px 0px 50px 0px">
        STORIES
    </h2>
    <div class="container-fluid">
        <div id="stories" class="row">
            <div class="col-md-6">
                <div>
                    <img class="stories" src="~/image/stories1.jpg" alt="ảnh lỗi rồi">
                </div>
                <p class="title-stories">Guests Attending Exquisite Gucci</p>
                <a href="https://www.gucci.com/us/en/st/stories/runway/article/exquisite-fashion-show-guests-gallery" class="stories-link">A PHOTO GALLERY </a>
            </div>

            <div class="col-md-6">
                <div>
                    <img class="stories" src="~/image/stories4.jpg" alt="ảnh lỗi rồi">
                </div>
                <p class="title-stories">Exquisite Beauty</p>
                <a href="https://www.gucci.com/us/en/st/stories/article-category-beauty/article/exquisite-fashion-show-beauty-details" class="stories-link">THE MAKEUP AT THE SHOW</a>
            </div>
        </div>

        <div id="stories" class="row">

            <div class="col-md-6">
                <div>
                    <img class="stories" src="~/image/stories3.jpg" alt="ảnh lỗi rồi">
                </div>
                <p class="title-stories">Fashioning Masculinities</p>
                <a href="https://www.gucci.com/us/en/st/capsule/va-fashioning-masculinities" class="stories-link">THE ART OF MENSWEAR</a>
            </div>

            <div class="col-md-6">
                <div>
                    <img class="stories" src="~/image/stories2.jpg" alt="ảnh lỗi rồi">
                </div>
                <p class="title-stories">Magical Mirrors</p>
                <a href="https://www.gucci.com/us/en/st/stories/runway/article/exquisite-fashion-show-looks-gallery" class="stories-link">THE LOOKS</a>
            </div>
        </div>
    </div>

    <!--<h2 id="Man" style="font-family: inherit; color: #5f5b57; margin: 100px 0px 50px 0px">
        Man
    </h2>-->
    <!-- T-shirts & Polo Shirts -->
    <!--<p id="TsPsMen" style="text-align:left; margin-left: 83px ; font-size: 20px">T-shirts & Polo Shirts</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>
        </div>
    </div>-->
    <!--Shirt-->
    <!--<p id="StMen" style="text-align:left; margin-left: 83px ; font-size: 20px">Shirts</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>
        </div>
    </div>-->
    <!--Shorts & Pants-->
    <!--<p id="SPMen" style="text-align:left; margin-left: 83px ; font-size: 20px">Shorts & Pants</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>
        </div>
    </div>-->
    <!--Demin-->
    <!--<p id="DMen" style="text-align:left; margin-left: 83px ; font-size: 20px">Demin</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>
        </div>
    </div>-->
    <!--Coat-->
    <!--<p id="CMen" style="text-align:left; margin-left: 83px ; font-size: 20px">Coat</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>
        </div>
    </div>-->
    <!--Shoes-->
    <!--<p id="SsMen" style="text-align:left; margin-left: 83px ; font-size: 20px">Shoes</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>
        </div>
    </div>-->
    <!--Sneakers-->
    <!--<p id="SksMen" style="text-align:left; margin-left: 83px ; font-size: 20px">Sneakers</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>
        </div>
    </div>-->
    <!--Boots-->
    <!--<p id="BtsMen" style="text-align:left; margin-left: 83px ; font-size: 20px">Boots</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>
        </div>
    </div>-->
    <!--Backpacks-->
    <!--<p id="BpsMen" style="text-align:left; margin-left: 83px ; font-size: 20px">Backpacks</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>
        </div>
    </div>

    <h2 id="Women" style="font-family: inherit; color: #5f5b57; margin: 100px 0px 50px 0px">
        Women
    </h2>-->
    <!-- Dresses -->
    <!--<p id="Dw" style="text-align:left; margin-left: 83px ; font-size: 20px">Dresses</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>
        </div>
    </div>-->
    <!--Top-->
    <!--<p id="Tw" style="text-align:left; margin-left: 83px ; font-size: 20px">Top</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>
        </div>
    </div>-->
    <!--T-Shirst-->
    <!--<p id="TSw" style="text-align:left; margin-left: 83px ; font-size: 20px">T-Shirst</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>
        </div>
    </div>-->
    <!--Pants & Shorts-->
    <!--<p id="PSw" style="text-align:left; margin-left: 83px ; font-size: 20px">Pants & Shorts</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>
        </div>
    </div>-->
    <!--Denim-->
    <!--<p id="Dmw" style="text-align:left; margin-left: 83px ; font-size: 20px">Denim</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>
        </div>
    </div>-->
    <!--Coat-->
    <!--<p id="Cw" style="text-align:left; margin-left: 83px ; font-size: 20px">Coat</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>
        </div>
    </div>-->
    <!--Swimwear-->
    <!--<p id="Sww" style="text-align:left; margin-left: 83px ; font-size: 20px">Swimwear</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>
        </div>
    </div>-->
    <!--Sandals-->
    <!--<p id="STw" style="text-align:left; margin-left: 83px ; font-size: 20px">Sandals & Thongs</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>
        </div>
    </div>-->
    <!--Sneakers-->
    <!--<p id="Sksw" style="text-align:left; margin-left: 83px ; font-size: 20px">Sneakers</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>
        </div>
    </div>-->
    <!--Boots & Ankle Boots-->
    <!--<p id="BAw" style="text-align:left; margin-left: 83px ; font-size: 20px">Boots & Ankle Boots</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>
        </div>
    </div>-->
    <!--Mini Bags-->
    <!--<p id="MBw" style="text-align:left; margin-left: 83px ; font-size: 20px">Mini Bags</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>
        </div>
    </div>-->
    <!--Tote Bags-->
    <!--<p id="TBw" style="text-align:left; margin-left: 83px ; font-size: 20px">Tote Bags</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>

            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="~/image/anh.jpg" alt="ảnh lỗi rồi">
                </div>
                <p>Geometric GG print bowling shirt</p>
                <p>$ 1,400</p>
            </div>
        </div>
    </div>-->

</div>