@model IEnumerable<EcommerceWeb.Models.MatHang>

@{
    ViewBag.Title = "Man";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center; font-size: 50px">Man</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoaiHang.TenLoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenMH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiHang.TenLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenMH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HinhAnh)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MatHangID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MatHangID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MatHangID })
        </td>
    </tr>
}

</table>
