@using System.Globalization;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
}
@model PagedList.IPagedList<EcommerceWeb.Models.MatHang>
@using PagedList.Mvc;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <style>
        div.gallery img {
            width: 150px;
            height: 150px;
            margin: 30px;
            display: inline-block;
        }

        .zoomPic:hover {
            transform: scale(1.5);
            transition: transform .2s;
        }

        div.gallery {
            margin: 30px;
            /*border: 2px solid #ccc;*/
            width: auto;
            height: auto;
            display: inline-block;
            background-color: #E7E7E7;
        }


        .pagination > li > a {
            background-color: white;
            color: #5A4181;
        }

            .pagination > li > a:focus,
            .pagination > li > a:hover,
            .pagination > li > span:focus,
            .pagination > li > span:hover {
                color: #5a5a5a;
                background-color: #eee;
                border-color: #ddd;
            }

        .pagination > .active > a {
            color: white;
            background-color: black !Important;
            border: solid 1px black !Important;
        }

            .pagination > .active > a:hover {
                background-color: black !Important;
                border: solid 1px black;
            }

        #buttonCart {
            color: black;
            border-radius: 0px;
            background: transparent;
            border: solid 2px;
            font-weight: bold;
        }

        .TwoButton {
            transition: .4s ease;
            opacity: 0;
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }

        .col-md-3:hover .TwoButton {
            opacity: 1;
        }
    </style>
</head>
<body>

    <div class="container-fluid" style="margin-top: 20px;">
        <div class="container">
            <img src="~/image/woman-banner.jpg" width="100%">
        </div>
        <div style="text-align:center; margin-top: 60px">
            <h2>for MAN</h2>
            <div class="row" style="margin-top: 50px">
                @foreach (var item in Model)
                {
                <div id="proItem" class="col-md-3">
                    <div class="gallery">
                        <a href="@Url.Action("Details","MatHang", new { id= item.MatHangID})">
                            <img class="zoomPic" src="@Url.Content(item.HinhAnh)" alt="ảnh lỗi rồi">
                        </a>
                    </div>
                    <div class="TwoButton">
                        <a href="/ShoppingCart/AddtoCart/@item.MatHangID" id="buttonCart" class="btn btn-primary btn-sm active" type="button" aria-pressed="true">Add To Cart</a>                        
                    </div>
                    <p style="font-weight: bold">@item.TenMH</p>
                    <p>$ @item.DonGia.ToString("#,###", @cul.NumberFormat)</p>
                </div>
                }
            </div>
        </div>
        <br />
        <div class="text-center">
            @Html.PagedListPager(Model, page => Url.Action("Man", new { page, pageSize = Model.PageSize }))
        </div>
    </div>

</body>
</html>
