@model IEnumerable<EcommerceWeb.Models.MatHang>

@{
    ViewBag.Title = "Man";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    div.gallery img {
        width: 150px;
        height: 150px;
        margin: 30px;
        display: inline-block;
    }
    .zoomPic:hover {
        transform: scale(1.5);
        transition: transform .2s;
    }
    div.gallery {
        margin: 30px;
        /*border: 2px solid #ccc;*/
        width: auto;
        height: auto;
        display: inline-block;
        background-color: #E7E7E7;
    }
</style>


<div style="text-align:center; margin-top: 60px">
        <div class="row">
            <div class="col-md-9">
                <img src="@Url.Content("~/image/man-cover.jpg")" style="width: 70%" alt="Man Cover" />
            </div>
            <div class="col-md-3" style="margin-top: 15%; ">
                <h1 >for</h1><br/>
                <h1 style="font-weight: bold">MAN</h1>
            </div>
        </div>
    <div class="row" style="margin-top: 50px">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="gallery">
                    <a href="@Url.Action("Details","MatHang", new { id= item.MatHangID})">
                        <img class="zoomPic" src="@Url.Content(item.HinhAnh)" alt="ảnh lỗi rồi">
                    </a>
                </div>
                <p>@item.TenMH</p>
                <p>$ @item.DonGia</p>
            </div>
        }
    </div>
</div>
