@model IEnumerable<EcommerceWeb.Models.MatHang>
@using System.Globalization;
@{
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
    Layout = "~/Views/Shared/SearchLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        div.gallery img {
            width: 150px;
            height: 150px;
            margin: 30px;
            display: inline-block;
        }

        .zoomPic:hover {
            transform: scale(1.5);
            transition: transform .2s;
        }

        div.gallery {
            margin: 30px;
            /*border: 2px solid #ccc;*/
            width: auto;
            height: auto;
            display: inline-block;
            background-color: #E7E7E7;
        }

        #buttonCart {
            color: black;
            border-radius: 0px;
            background: transparent;
            border: solid 2px;
            font-weight: bold;
        }

        .TwoButton {
            transition: .4s ease;
            opacity: 0;
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }

        .col-md-3:hover .TwoButton {
            opacity: 1;
        }
    </style>
</head>
<body>
    <div style="text-align: center; margin-top: 100px">
        <div class="form-group">
            <div class="input-group" style="margin: 0 auto; width: 250px;">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input type="text" id="Search" placeholder="Search here..." class="form-control" />
            </div>
        </div>
    </div>

    <div style="text-align: center; margin: 10px">
        <div class="form-group">
            <div class="btn-group" id="btn-group">
                <button style="color: black" type="button" class="btn active" id="all">All</button>
                <button style="color: black" type="button" class="btn" id="burger">Burger</button>
                <button style="color: black" type="button" class="btn" id="pizza">Pizza</button>
                <button style="color: black" type="button" class="btn" id="pasta">Pasta</button>
                <button style="color: black" type="button" class="btn" id="fries">Fries</button>
            </div>
        </div>
    </div>

    <div style="text-align:center; margin-top: 60px">
        <div class="row" style="margin-top: 50px">
            @foreach (var item in Model)
            {
                <div id="proItem" class="col-md-3">
                    <div class="gallery">
                        <a href="@Url.Action("Details","MatHang", new { id= item.MatHangID})">
                            <img class="zoomPic" src="@Url.Content(item.HinhAnh)" alt="ảnh lỗi rồi">
                        </a>
                    </div>
                    <div class="TwoButton">
                        <a href="/ShoppingCart/AddtoCart/@item.MatHangID" id="buttonCart" class="btn btn-primary btn-sm active" type="button" aria-pressed="true">Add To Cart</a>
                    </div>
                    <p>@item.TenMH</p>
                    <p>$ @item.DonGia.ToString("#,###", @cul.NumberFormat)</p>
                </div>
            }
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            function Contains(text_one, text_two) {
                if (text_one.indexOf(text_two) != -1) return true;
            }
            $("#Search").keyup(function () {
                var searchText = $("#Search").val().toLowerCase();
                $(".col-md-3").each(function () {
                    if (!Contains($(this).text().toLowerCase(), searchText)) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                })
            })
            $("#burger").click(function () {
                $('.btn').removeClass('active');
                $(this).addClass('active');
                $(".col-md-3").each(function () {
                    if (!Contains($(this).text(), "Burger")) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                })
            })
            $("#pizza").click(function () {
                $('.btn').removeClass('active');
                $(this).addClass('active');
                $(".col-md-3").each(function () {
                    if (!Contains($(this).text(), "Pizza")) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                })
            })
            $("#pasta").click(function () {
                $('.btn').removeClass('active');
                $(this).addClass('active');
                $(".col-md-3").each(function () {
                    if (!Contains($(this).text(), "Pasta")) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                })
            })
            $("#fries").click(function () {
                $('.btn').removeClass('active');
                $(this).addClass('active');
                $(".col-md-3").each(function () {
                    if (!Contains($(this).text(), "Fries")) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                })
            })
            $("#all").click(function () {
                $('.btn').removeClass('active');
                $(this).addClass('active');
                $(".col-md-3").each(function () {
                    if (!Contains($(this).text(), "")) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                })
            })
        })
    </script>
</body>
</html>
