@model EcommerceWeb.Models.KhachHang
@using System.Globalization;
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/SearchLayout.cshtml";
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");

    var db = new EcommerceWeb.DAL.EcommerceContext();
    var orderCount = db.HoaDons.Where(x => x.KhachHangID == Model.KhachHangID && x.TrangThai == 3).Count();
    var priceCount = db.HoaDons.Where(x => x.KhachHangID == Model.KhachHangID && x.TrangThai == 3).AsEnumerable().Sum(x => x.TongTien);
}
<link href="~/Content/font-awesome/css/all.css" rel="stylesheet" />
<style>
    a {
        color: black;
    }

        a:hover {
            color: lightgray;
            text-decoration: none
        }

    #proItem {
        border: solid 1px;
        margin-left: 5px;
        padding: 20px;
    }

    .btnDelete {
        margin: 5px 0 0 0;
        background-color: black;
        color: white;
        text-align: center;
        padding: 5px;
    }

    .btn-delete {
        color: white;
    }

    table, th, tr, td {
        border: none !important;
    }

    .btn-edit {
        color: white;
    }

    .btnEdit {
        margin: 15px 0 0 0;
        background-color: black;
        color: white;
        text-align: center;
        height: 30px;
        padding: 5px;
    }

    .hidetext {
        -webkit-text-security: disc;
    }

    .fab {
        color: black;
    }

        .fab:hover {
            color: darkgray
        }
</style>



<div class="container" style="margin-top: 100px;">

    <div class="row" style="margin-top: 50px">
        <div class="col-md-2"></div>
        <div id="proItem" class="col-md-8">
            <div class="row">
                <h2 class="text-center">MY PROFILE</h2>
            </div>
            <div class="row">
                <div class="col-md-4" style="display: flex; justify-content: center">
                    <img width="80%" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" alt="profile-image" />
                </div>
                <div class="col-md-8" style="margin-top: 20px;">
                    <table class="table">
                        <tr>
                            <th scope="row">Name</th>
                            <td>@Model.TenKH</td>
                        </tr>
                        <tr>
                            <th scope="row">Address</th>
                            <td>@Model.DiaChi</td>
                        </tr>
                        <tr>
                            <th scope="row">Phone</th>
                            <td>@Model.DienThoai</td>
                        </tr>
                        <tr>
                            <th scope="row">Username</th>
                            <td title="To change username, please contact to ADMIN!">@Model.Username</td>
                        </tr>
                        <tr>
                            <th scope="row">Password</th>
                            <td class="hidetext" title="To change password, please contact to ADMIN!">@Model.Password</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row" style="margin-top: 20px">
                <div class="col-md-6 text-center">
                    <h5 title="The number of orders that you've ordered successfully">ORDERS</h5>
                    <h1 style="font-weight: bold">@orderCount</h1>
                </div>
                <div class="col-md-6 text-center">
                    <h5 title="Total amount of your own orders">AMOUNT</h5>
                    <h1 style="font-weight: bold">$ @priceCount.ToString("#,###", @cul.NumberFormat)</h1>
                </div>
            </div>
            <div class="row">
                <div style="display: flex; justify-content: center; padding: 50px;">
                    <a class="btn btn-outline-light btn-floating m-1" href="https://vi-vn.facebook.com/" target="_blank" role="button">
                        <i class="fab fa-facebook-f fa-2x"></i>
                    </a>

                    <!-- Twitter -->
                    <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/" target="_blank" role="button">
                        <i class="fab fa-twitter fa-2x"></i>
                    </a>

                    <!-- Google -->
                    <a class="btn btn-outline-light btn-floating m-1" href="https://google.com/" target="_blank" role="button">
                        <i class="fab fa-google fa-2x"></i>
                    </a>

                    <!-- Instagram -->
                    <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" target="_blank" role="button">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>

                    <!-- Github -->
                    <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/" target="_blank" role="button">
                        <i class="fab fa-github fa-2x"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="btnEdit">
                    <a href="/HoaDon/OrderUser?KhachHangID=@Model.KhachHangID" style="text-decoration: none; color: white;">SEE YOUR ORDERS</a>
                </div>
            </div>
            <div class="row">
                <div class="btnEdit">
                    <a href="/KhachHang/EditCustomer?id=@Model.KhachHangID" style="text-decoration: none; color: white;">CHANGE YOUR INFORMATION</a>
                </div>
            </div>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>
