@model IEnumerable<EcommerceWeb.Models.KhachHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    a {
        color: black;
    }
    a:hover {
        color: lightgray;
        text-decoration: none
    }
    #proItem {
        border: solid 1px;
        margin-left: 5px;
        padding: 20px;
    }
    .btnDelete {
        margin: 5px 0 0 0 ;
        background-color: black;
        color: white;
        text-align: center;
        padding: 5px;
    }
    .btn-delete{
        color: white;
    }
    table, th, tr, td {
        border: none !important;
    }
    .btn-edit {
        color: white;
    }
    .btnEdit{
        margin: 15px 0 0 0;
        background-color: black;
        color: white;
        text-align: center;
        padding: 5px;
    }
</style>

<div class="container" style="font-size: 10px; margin-bottom: 50px">
    <a href="/KhachHang/Create" title="Add New User" class="btn-create" style="float: right; margin-top: 50px;"><i class="fa fa-plus-circle fa-2x" style="color: black"></i></a>
    <a href="/Admin/Index" title="Dashboard" class="btn-create" style="float: right; margin-top: 50px; margin-right: 10px"><i class="fa fa-arrow-left fa-2x" style="color: black"></i></a>
    <h2 style="text-align: center; margin-top: 150px;">USER MANAGEMENT</h2>

    <div class="row" style="margin-top: 50px">
        @foreach (var item in Model)
        {
        <div id="proItem" class="col-md-3">
            <table class="table">
                <tr>
                    <th scope="row">Name</th>
                    <td>@item.TenKH</td>
                </tr>
                <tr>
                    <th scope="row">Address</th>
                    <td>@item.DiaChi</td>
                </tr>
                <tr>
                    <th scope="row">Phone</th>
                    <td>@item.DienThoai</td>
                </tr>
                <tr>
                    <th scope="row">Username</th>
                    <td>@item.Username</td>
                </tr>
                <tr>
                    <th scope="row">Password</th>
                    <td>@item.Password</td>
                </tr>
            </table>
            <div class="btnEdit">
                @Html.ActionLink("Edit", "Edit", new { id = item.KhachHangID }, new { @class = "btn-edit" })
            </div>
            <div class="btnDelete">
                @Html.ActionLink("Delete", "Delete", new { id = item.KhachHangID }, new { @class = "btn-delete" })
            </div>
        </div>
        }
    </div>
</div>



