@model EcommerceWeb.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<style>
    .btn-default {
        color: black;
        border-radius: 0;
    }

        .btn-default:hover {
            color: dimgrey
        }

    a {
        color: black
    }

        a:hover {
            text-decoration: none;
            color: gray
        }

    .form-control {
        border-radius: 0
    }

    #right {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    #left {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .form-horizontal {
        padding-left: 10px;
        padding-top: 20px;
    }
</style>
<div class="container-fluid" style="padding-top: 100px; background-color: whitesmoke">
    <div class="row">
        <div class="col-md-6">
            <div id="left" class="container" style="background-color: black; height: 200px; width: 400px; float: right">
                <p style="text-align: center; padding: 90px 0; color: white; font-size: large">REGISTER</p>
            </div>
        </div>
        <div id="right" class="col-md-6" style="height: 350px; width: 500px; background-color: white; padding-top: 20px; margin-bottom: 50px; padding-bottom: 50px">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Sign Up" />
                    </div>
                </div>
            }
        </div>
        </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
