@model EcommerceWeb.Models.MatHang

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<style>
    .form-control {
        border-radius: 0px;
    }

    a {
        color: black;
    }

        a:hover {
            color: lightgray;
            text-decoration: none
        }

    .btn-default {
        color: white;
        background-color: black;
        border-radius: 0px;
        margin: 5px;
        border: none
    }

        .btn-default:hover {
            color: white;
            background-color: black;
            border-radius: 0px;
            margin: 5px;
            border: none
        }

    .child {
        display: inline-block;
        vertical-align: middle;
    }
#label {
        text-align: left
    }
    .form-group {
        margin: 20px;
    }
</style>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
    function show(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#user_img').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
</script>
<div class="container" style="margin-top: 100px;">
    @using (Html.BeginForm("Create", "MatHang", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <h2 style="text-align: center; margin: 40px; margin-bottom: 70px">ADD NEW PRODUCT</h2>
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row" style="text-align: -webkit-center">
                <div class="col-md-6 form-group">
                    <label class="control-label col-md-2" id="label">Name</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TenMH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenMH, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <label class="control-label col-md-2" id="label">Price</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DonGia, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DonGia, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row" style="text-align: -webkit-center">
                <div class="col-md-6 form-group">
                    <label class="control-label col-md-2" id="label">Description</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <label class="control-label col-md-2" id="label">Type</label>
                    <div class="col-md-10">
                        @Html.DropDownList("LoaiID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LoaiID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row" style="text-align: -webkit-center">
                <div class="col-md-6 form-group">
                    <label class="control-label col-md-2" id="label">Manufacture Date</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NSX, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NSX, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <label class="control-label col-md-2" id="label">Expire Date</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HSD, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HSD, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row" style="text-align: -webkit-center">
                <div class="col-md-6 form-group">
                    <label class="control-label col-md-2" id="label">Total Amount</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TongSoLuong, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TongSoLuong, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label class="control-label col-md-2" id="label">Picture</label>
                    <div class="col-md-10">
                        <input type="file" name="file" id="file" onchange="show(this);" /><br />
                        <div>
                            <img id="user_img" width="50%" height="50%" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin-top: 30px; text-align: center">

                <div class="col-md-offset-2 child" style="margin-left: 0px">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
                <div class="col-md-offset-2 child" style="margin-left: 10px;">
                    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}