@model EcommerceWeb.Models.MatHang

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<style>
    a {
        color: black;
    }

        a:hover {
            color: lightgray;
            text-decoration: none
        }

    .btn-default {
        color: white;
        background-color: black;
        border-radius: 0px;
        margin: 5px;
        border: none
    }

        .btn-default:hover {
            color: white;
            background-color: black;
            border-radius: 0px;
            margin: 5px;
            border: none
        }

    .form-control {
        border-radius: 0px;
    }
    .child {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
    }
</style>

<div class="container" style="margin-top: 100px">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h2 style="text-align: center; margin: 40px; margin-bottom: 70px">EDIT PRODUCT</h2>
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MatHangID)
            @Html.HiddenFor(model => model.Size)
            @Html.HiddenFor(model => model.Color)
            @Html.HiddenFor(model => model.Gender)
            @Html.HiddenFor(model => model.HinhAnh)
            <div class="form-group">
                <label class="control-label col-md-2">Name</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TenMH, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenMH, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Price</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DonGia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DonGia, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Description</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-2">Type</label>
                <div class="col-md-10">
                    @Html.DropDownList("LoaiID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LoaiID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2"></label>
                <div class="col-md-10" style="margin-top: 30px">
                    <div class="col-md-offset-2 child">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                    <div class="col-md-offset-2 child">
                        @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
