@model EcommerceWeb.Models.Cart
@using System.Globalization;
@{
    ViewBag.Title = "Payment";
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
}
<head>
    <style>
        .payment {
            display: inline-block;
            color: white;
            background-color: black;
            border-radius: 0px;
            height: 40px;
            width: 100px;
            padding: 10px 0;
            margin-top: 10px;
            margin-left: 10px;
            text-decoration: none;
            text-decoration-color: white;
        }

        .payment:hover {
            color: white;
            text-decoration: none;
            text-decoration-color: white;
        }

        @* ----------------------- COMMENTS AND RATES--------------*@ .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            padding: 20px;
            width: 450px;
            word-wrap: break-word;
            background-color: #bbb;
            background-clip: border-box;
            border-radius: 6px;
            -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
            margin-left: 250px;
        }

        .comment-box {
            padding: 5px
        }

        .comment-area textarea {
            resize: none;
            border: 1px solid #ad9f9f
        }

        .form-control:focus {
            color: #495057;
            background-color: #fff;
            border-color: #ffffff;
            outline: 0;
            box-shadow: 0 0 0 1px rgb(255, 0, 0) !important
        }

        .send {
            color: #fff;
            background-color: #ff0000;
            border-color: #ff0000
        }

            .send:hover {
                color: #fff;
                background-color: #f50202;
                border-color: #f50202
            }

        .rating {
            display: flex;
            margin-top: -10px;
            flex-direction: row-reverse;
            margin-left: -4px;
            float: left
        }

            .rating > input {
                display: none
            }

            .rating > label {
                position: relative;
                width: 19px;
                font-size: 25px;
                color: yellow;
                cursor: pointer
            }

                .rating > label::before {
                    content: "\2605";
                    position: absolute;
                    opacity: 0
                }

                .rating > label:hover:before,
                .rating > label:hover ~ label:before {
                    opacity: 1 !important
                }

            .rating > input:checked ~ label:before {
                opacity: 1
            }

            .rating:hover > input:checked ~ label:before {
                opacity: 0.4
            }
    </style>
    <script>
        function paymentAlert() {
            if (window.confirm("Payment Successfully")) {
                window.location = "/";
            }

        }
    </script>
</head>
<div class="container-fluid">
    <a href="/ShoppingCart/ShowToCart"><i title="back" class="fa-solid fa-arrow-left-long" style="color: black; margin-top: 65px; font-size: 30px; text-align: left"></i></a>
</div>
<div class=" container-fluid" style="text-align: center; margin-bottom: 50px">
    <h2>PAYMENT CONFIRM</h2>
    <hr />
    @*<dl class="dl-horizontal">
        </dl>*@
    <div class="container" style="border: .2px solid; text-align: center; margin: auto; width: 50%">
        @foreach (var item in Model.Items.ToList())
        {
            double tongtien = Convert.ToDouble(item.shoppingProduct.DonGia * item.shoppingQuantity);
            <div class="row" style="margin: 15px 15px">
                <div class="col-md-3">
                    <img src="@Url.Content(@item.shoppingProduct.HinhAnh.ToString())" alt="ảnh lỗi rồi" style="width:100px" />
                </div>
                <div class="col-md-8">
                    <p style="font-size: 20px">@item.shoppingProduct.TenMH</p>
                    <p style="margin-top: 27px;margin-left:127px ; float: left">Quantity: @item.shoppingQuantity</p>
                    <p style="margin-top: 27px;margin-right: 27px ; float: right">Price: $ @tongtien.ToString("#,###", @cul.NumberFormat)</p>
                </div>
            </div>
            <hr />
        }
        <h4 style="text-align: right">Total Price: $ @Model.TotalPrice().ToString("#,###", @cul.NumberFormat)</h4>
    </div>
    <!--<button type="button"--> @*onclick="paymentAlert()"*@
    <!--class="payment">
        <a href="/ShoppingCart/CreateOrder" id="buttonBuyNow" type="button" aria-pressed="true">
            PAYMENT
        </a>
    </button>-->
    <a href="/ShoppingCart/CreateOrder" type="button" aria-pressed="true" onclick="paymentAlert()" class="payment">
        PAYMENT
    </a>
    
</div>

